In [2]:
#string data type:

# 1> string constructor is str()
# 2> string literal is '',"","""""",''''''

hello

In [8]:
a=str()   #creating empty string using str()

In [9]:
print(a)
print(type(a))

<class 'str'>

In [10]:
b=''

In [11]:
b

''

In [13]:
print(type(b))

<class 'str'>

In [14]:
a

''

In [15]:
b

''

In [19]:
c=''''''
print(c,type(c))
c

 <class 'str'>

''

In [20]:
d=""""""
print(d,type(d))

 <class 'str'>

In [21]:
d

''

In [36]:
d
print(id(d))
d

140705146947296

''

In [24]:
print(id(d))

140705146947296

In [30]:
g=d+"krishna"
id(e)

1993575624176

In [31]:
d+10

TypeError: can only concatenate str (not "int") to str

In [32]:
a=10

In [33]:
b=10

In [34]:
id(a)

140705146926152

In [35]:
id(b)

140705146926152

In [41]:
a=""   #this is empty string 
print(id(a))
b=" "  # this is not empty string beacuse space is also a character out of 1.4 million unicode character 
print(a)
print(b)

140705146947296

In [42]:
a="krishna"
print(id(a))

1993575624176

In [43]:
a="krishna"

In [44]:
print(a)

krishna

In [47]:
id(a[0])

140705146972464

In [1]:
#string is a set of sequence of character.
a="krishna"

In [2]:
print(a)

krishna

In [9]:
#indexing--> string support indexing(positive indexing)
print(a[0])

k

In [10]:
print(a[1])

r

In [11]:
print(a[6])

a

In [12]:
print(a[10])   # index 10 is not available in a="krishna"

IndexError: string index out of range

In [13]:
print(a[0])

k

In [15]:
print(a[-7])  # indexing --> negative indexing

k

In [16]:
#slicing--> string support slicing

In [17]:
name="priya"

In [19]:
print(name[1:3])

ri

In [21]:
print(name[1:3:1])

ri

In [22]:
print(name[1:3:2])

r

In [23]:
print(name[0:3:1])

pri

In [24]:
print(name[:3:1])

pri

In [25]:
print(name[::1])

priya

In [26]:
print(name[0:4:1])

priy

In [28]:
name[-1]

'a'

In [29]:
print(name[0:len(name):1])

priya

In [31]:
print(name[::])

priya

In [32]:
print(name[10000:100000:100])

In [36]:
print(name[10000:100000:-100])

In [43]:
name[::-1]

'ayirp'

In [44]:
a="krishna"

In [46]:
a[-1:-8:-1]

'anhsirk'

In [47]:
a[-1:-10000:-1]

'anhsirk'

In [48]:
a[::-1]

'anhsirk'

In [51]:
num="0123456789"

num[0:len(num):2]

'02468'

In [52]:
num[1:len(num):2]

'13579'

In [55]:
list(num)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [58]:
cont=[int(i) for i in list(num)]

In [59]:
cont

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
# string constructor is str()
# string literal is '',"","""""",''''''
# string is a set of sequence of character 
# string is immutable 
# string support indexing 
# string support slicing 
# string contain number of methods.

In [8]:
# Modification of string

a="krishna"
print(id(a))

2778944352944

In [9]:
b="kumar"
print(id(b))

2778966956208

In [14]:
a=a+b
print(id(a))

2778967205536

In [7]:
print(a)

krishnakumar

In [17]:
c="krishna"
d="10"
print(id(c),type(c))
print(id(d),type(d))

2778967187504 <class 'str'>
2778906892912 <class 'str'>

In [19]:
print(c+d)   # combining two or more then two string together using + opeator called concatination processs

krishna10

In [20]:
krishna_age=27
krishna_name='Krishna Kumar Prajapati'

In [21]:
print("I am krishna kumar prajapati and I am 27")

I am krishna kumar prajapati and I am 27

In [27]:
# F-string/ f-string
krishna_age=20
krishna_name='Nikki'
print(f"I am {krishna_name} and I am {krishna_age}")

I am Nikki and I am 20

In [28]:
# F-string/ f-string
krishna_age=20
krishna_name='Nikki'
print(F"I am {krishna_name} and I am {krishna_age}")

I am Nikki and I am 20

In [33]:
# .formate()
krishna_age=20
krishna_name='Nikki'
print("I am {0} and I am {1}".format(krishna_name,krishna_age))

I am Nikki and I am 20

In [32]:
# .formate()
krishna_age=20
krishna_name='Nikki'
print("I am {1} and I am {0}".format(krishna_age,krishna_name))

I am Nikki and I am 20

In [35]:
#string methods
#url : https://www.w3schools.com/python/python_strings_methods.asp

In [39]:
# .capitalize()

a="krishna"

print(a.capitalize())

Krishna

In [40]:
#str.casefold()
 
gmail="NnKRisHNa714@GmaIl.com"

print(gmail.casefold())

nnkrishna714@gmail.com

In [47]:
#str.center()
 
gmail="NnKRisHNa714@GmaIl.com"

gmail.center(100)

'                                       NnKRisHNa714@GmaIl.com                                       '

In [49]:
ord("N")

78

In [51]:
ord("1")

49

In [52]:
bin(49)

'0b110001'

In [54]:
bin(ord("a"))

'0b1100001'

In [67]:
# str.count()

a="Nikki"
a.count("i")

2

In [68]:
a.encode()

b'Nikki'

In [1]:
a="Nikki"

In [2]:
a.endswith("i")

True

In [3]:
a.endswith("ki")

True

In [4]:
a.endswith("k")

False

In [6]:
b="this\tis\tkrishna"
# b.expandtabs()

In [8]:
print(b)

this	is	krishna

In [13]:
b.expandtabs()

'this  is  krishna'

In [17]:
b="this is krishna"

b.find("is")

2

In [18]:
b.find("krishna")

8

In [19]:
b.find("this")

0

In [24]:
age=29

In [25]:
name="Raju"

In [26]:
# .format()
print("this is {} and {}".format(name,age))

this is Raju and 29

In [27]:
a="krishna"

In [29]:
a.find("ish")

2

In [31]:
a.index("is")

2

In [32]:
a

'krishna'

In [34]:
b="123"
b.isalnum()

True

In [35]:
a.isnumeric()

False

In [36]:
a.isalpha()

True

In [37]:
a.isdecimal()

False

In [38]:
b.isdecimal()

True

In [39]:
a="krishna"

In [40]:
a.find("i")

2

In [49]:
def find(arg1,arg):
    arg1
    j=0
    for i in arg1:
        j+=1
        a=len(arg)
        str
        for k in range(a):
            string=""
            if i==arg:
                print(j-1)
                break

In [50]:
find("krishna","n")

5

In [53]:
find("i am krishna","is")

0

In [54]:
b

'123'

In [55]:
b.isdigit()

True

In [56]:
a

'krishna'

In [57]:
a.isdigit()

False

In [58]:
a

'krishna'

In [59]:
a.isidentifier()

True

In [60]:
"krishna".isidentifier()

True

In [61]:
d.isidentifier()

NameError: name 'd' is not defined