In [2]:
#string data type:

1> string constructor is str()
2> string literal is '',"","""""",''''''

hello

In [8]:
a=str()   #creating empty string using str()

In [9]:
print(a)
print(type(a))

<class 'str'>

In [10]:
b=''

In [11]:
b

''

In [13]:
print(type(b))

<class 'str'>

In [14]:
a

''

In [15]:
b

''

In [19]:
c=''''''
print(c,type(c))
c

 <class 'str'>

''

In [20]:
d=""""""
print(d,type(d))

 <class 'str'>

In [21]:
d

''

In [36]:
d
print(id(d))
d

140705146947296

''

In [24]:
print(id(d))

140705146947296

In [30]:
g=d+"krishna"
id(e)

1993575624176

In [31]:
d+10

TypeError: can only concatenate str (not "int") to str

In [32]:
a=10

In [33]:
b=10

In [34]:
id(a)

140705146926152

In [35]:
id(b)

140705146926152

In [41]:
a=""   #this is empty string 
print(id(a))
b=" "  # this is not empty string beacuse space is also a character out of 1.4 million unicode character 
print(a)
print(b)

140705146947296

In [42]:
a="krishna"
print(id(a))

1993575624176

In [43]:
a="krishna"

In [44]:
print(a)

krishna

In [47]:
id(a[0])

140705146972464

In [1]:
#string is a set of sequence of character.
a="krishna"

In [2]:
print(a)

krishna

In [9]:
#indexing--> string support indexing(positive indexing)
print(a[0])

k

In [10]:
print(a[1])

r

In [11]:
print(a[6])

a

In [12]:
print(a[10])   # index 10 is not available in a="krishna"

IndexError: string index out of range

In [13]:
print(a[0])

k

In [15]:
print(a[-7])  # indexing --> negative indexing

k

In [16]:
#slicing--> string support slicing

In [17]:
name="priya"

In [19]:
print(name[1:3])

ri

In [21]:
print(name[1:3:1])

ri

In [22]:
print(name[1:3:2])

r

In [23]:
print(name[0:3:1])

pri

In [24]:
print(name[:3:1])

pri

In [25]:
print(name[::1])

priya

In [26]:
print(name[0:4:1])

priy

In [28]:
name[-1]

'a'

In [29]:
print(name[0:len(name):1])

priya

In [31]:
print(name[::])

priya

In [32]:
print(name[10000:100000:100])

In [36]:
print(name[10000:100000:-100])

In [43]:
name[::-1]

'ayirp'

In [44]:
a="krishna"

In [46]:
a[-1:-8:-1]

'anhsirk'

In [47]:
a[-1:-10000:-1]

'anhsirk'

In [48]:
a[::-1]

'anhsirk'

In [51]:
num="0123456789"

num[0:len(num):2]

'02468'

In [52]:
num[1:len(num):2]

'13579'

In [55]:
list(num)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [58]:
cont=[int(i) for i in list(num)]

In [59]:
cont

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]